@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,700);
@import 'bootstrap.less';
@header-height : 30px;
@padding-section : 40px;
@parallax-header-height : 200px;

/*
	HEADER
*/


.header{
	height: @header-height;
}
.navbar-brand{
	span{
		font-weight: bold;
	}
}

.parallax-section-head{
	height: @parallax-header-height;
	background: url('../img/bg.jpg') no-repeat scroll 0 0 transparent;
	position: absolute;
    z-index: -100;
    left: 50%;
}


img {
  display: block;
  width: 100%;

  &.bg {
      min-height: 100%;
      min-width: 1024px;
      width: 100%;
      height: auto;
      position: fixed;
      top: 0;
      left: 0;
      z-index: -10;
  }

}



/*
	MAIN CONTAINA!!
*/
.main-container{
  z-index: 100;
  color: #FFF;

	padding-top: 30px;
	.row{
		padding-top: @padding-section;
	}
}

.about-wrapper{
	background: @brand-primary;
	margin-top: @padding-section;
}

.about-container{
	padding-top: @padding-section;

}


@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}