@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,900,700);
@import url(http://fonts.googleapis.com/css?family=Advent+Pro);
@import url(http://fonts.googleapis.com/css?family=Sanchez);

@import 'bootstrap.less';
@import 'flexslider.css';

@header-height : 30px;
@padding-section : 40px;
@parallax-header-height : 200px;
@clear-desaturated-blue : #21e2ff;

/*
	HEADER
*/
body{
  font-family: "Sanchez",helvetica,arial,"sans-serif";
}
h1{
  font-family: "Sanchez",helvetica,arial,"sans-serif";
  font-weight: 900;
  text-transform: uppercase;
  display: block;
  height: 130px;
  margin: 0;
  padding: 0;

}

 .fill-bar{
    position: absolute;
    height: 1px;
    width: 0px;
    background-color: #4ec2ed; 
    display: block;
    
    .transition-property(width);
    .transition-duration(1.2s);

    &.expanded{
       width: 100%;
    }

 }


.name-wrap{
  display: block;
  float: right;
  font-size: 72px;
}
.name{
  font-family: "Sanchez",helvetica,arial,"sans-serif";
  font-weight: 400;
  text-align: right;
  padding: 0;
  font-size: 60px;
  border: none;
  background: #041d26;
  min-height: 75px;
  height: auto;
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px;
  .opacity(.8);


}
.tagline{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: right;
  color: white;
  border: none;
  background-color:rgba(82,95,102,0.5);
  height: auto;
  overflow: hidden;
}

svg{
  cursor: pointer;
  width: 120px;
  height: 120px;
  margin-top: 8px;
  .transition(all 1s ease-in-out);

  .blue{
    fill: #21e2ff;
  }

  &:hover{

    .scale(0.8);
   
  }

}

.box {
  position:absolute;
  left:0;
  height:100%;
  background:#09f;
}

.player{
  height: 350px;
}

.player-holder{
  position: relative;
  width: 490px;
  display: block;
  margin: 0 auto;
  padding: 0;
  left: -48px;

  img{
    display: block;
    position: absolute;
    z-index: 100;
  }
  .iframe-holder{
    position: relative;
    left: 1%;
    width: 100%;
    height: 30%;
    margin-top: 6%;

  }
  iframe{
    display: block;
    position: relative;
    z-index: 110;
    width: 482px;
    height: 174px;
    top: 27px;
  }
  
}

.info{
  display: none;
  height: auto;

  background: #4ec2ed;
  padding: 100px;
  font-size: 24px;
  color: white;
}
.header{
	height: @header-height;
}
.navbar-brand{
	span{
    clear: both;
		font-weight: bold;
	}
}

.parallax-section-head{
	height: @parallax-header-height;
	background: url('../img/bg.jpg') no-repeat scroll 0 0 transparent;
	position: absolute;
  z-index: -100;
  left: 50%;
}


img {
  display: block;
  width: 100%;

  &.bg {
      min-height: 100%;
      min-width: 1024px;
      width: 100%;
      height: auto;
      position: fixed;
      top: 0;
      left: 0;
      z-index: -10;
  }

}



/*
	MAIN CONTAINA!!
*/
.main-container{
  z-index: 100;
  color: #FFF;

	padding-top: 30px;
	.row{
		padding-top: @padding-section;
	}
}

.about-wrapper{
  padding: 0;


  .alert{
    border: none;
    background-color:rgba(82,95,102,0.5);
    min-height: 75px;
    height: auto;
    overflow: hidden;
    border-radius: 0;
  }

  a{
    width: 48px;
    height: 48px;
    display: block;
    text-indent: -5000px;
    float: left;
    margin-left: 6px;
    margin-top: 6px;

    &#github{
      background: url('../img/social_sprite.png') no-repeat scroll 0 0 transparent;
    }

    &#behance{
      background: url('../img/social_sprite.png') no-repeat scroll -60px 0 transparent;
    }

    &#flickr{
      background: url('../img/social_sprite.png') no-repeat scroll -120px 0 transparent;
    }

    &#twitter{
      background: url('../img/social_sprite.png') no-repeat scroll -180px 0 transparent;
    }

    &#facebook{
      background: url('../img/social_sprite.png') no-repeat scroll -240px 0 transparent;
    }
    &#soundcloud{
      background: url('../img/social_sprite.png') no-repeat scroll -300px 0 transparent;
    }
    &#deviantart{
      background: url('../img/social_sprite.png') no-repeat scroll -360px 0 transparent;
    }
    &#blog{
      text-indent: 0px;
      height: 20px;
      text-align: right;
      color: @clear-desaturated-blue;
    }
    &#contact{
      text-indent: 0px;
      height: 20px;
      text-align: right;
      color: @clear-desaturated-blue;
    }
  }

}

canvas {
   position: fixed;
   top: 0;
   left: 0;
   background-color: transparent;
   z-index: -1;
}



@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}