@import "~bootstrap/scss/bootstrap";

body{
    font-family: 'Karla', 'Courier New', Courier, monospace;
}

.card-header{
	background-image: url(/src/assets/img/background.jpg);
    height: 230px;
    display: block;
    background-position: 0px -700px;
    font-family: 'Karla', 'Courier New', Courier, monospace;
}

.card-body{
	top: -200px;
    display: block;
    position: relative;
}

.card-profile-img{
	border-radius: 200px;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    margin-bottom: 10px;
    width: 100%;
}

.bio{
    font-size: 16px;
}
h3{
    font-weight: 300;
}
h3 b.color, b.blue{
    color: #28B5B5;
}
.img-logo{
    margin-right: 20px;   
    margin-bottom: 20px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 470px) {
    .card-profile-img{
        width: 300px;
    }
}

